.p01 {
    height: 250px;
    width: 200px;
    border-left: 20px solid black;
}

.p02 {
    height: 100px;
    width: 130px;
    border-top: 20px solid black;
    border-right: 20px solid black;
    border-bottom: 20px solid black;
    border-bottom-right-radius: 50%;
}

.p03 {
    height: 80px;
    width: 100px;
    left: 30px;
    background-color: rgb(49, 40, 40);
    border-bottom-right-radius: 50%;
    position: relative;
}