.s01 {
    height: 90px;
    width: 140px;
    border-left: 20px solid black;
    border-top: 20px solid black;
    border-top-left-radius: 30%;
    border-bottom-left-radius: 30%;
    border-top-right-radius: 30%;
}

.s02 {
    top: 110px;
    left: -20px;
    height: 100px;
    width: 140px;
    border-right: 20px solid black;
    border-bottom: 20px solid black;
    border-bottom-left-radius: 30%;
    border-top-right-radius: 40%;
    position: relative;
}

.s03 {
    width: 60px;
    height: 40px;
    bottom: 20px;
    left: 50px;
    transform: skew(30deg) rotate(20deg);
    background: rgb(49, 40, 40);
    position: relative;
}